<div class="page-header">
  <h3>Cheat Food #<%= @cheat_food.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Servings</dt>
      <dd><%= @cheat_food.servings %></dd>

      <dt>Day of cheat</dt>
      <dd><%= @cheat_food.day_of_cheat %></dd>

      <dt>User</dt>
      <dd>
        <% if @cheat_food.user.present? %>
          <a href="/users/<%= @cheat_food.user_id %>">
            <%= @cheat_food.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Foods</dt>
      <dd>
        <% if @cheat_food.foods.present? %>
          <a href="/foods/<%= @cheat_food.foods_id %>">
            <%= @cheat_food.foods.foods_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cheat_foods" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @cheat_food.user %>
        <a href="/cheat_foods/<%= @cheat_food.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_cheat_food/<%= @cheat_food.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
