<div class="page-header">
  <h3>Food #<%= @food.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Foods name</dt>
      <dd><%= @food.foods_name %></dd>

      <dt>Foods category</dt>
      <dd><%= @food.foods_category %></dd>

      <dt>Number of servings</dt>
      <dd><%= @food.number_of_servings %></dd>

      <dt>Servings unit</dt>
      <dd><%= @food.servings_unit %></dd>

      <dt>Usda ndb</dt>
      <dd><%= @food.usda_ndb %></dd>

      <dt>Calories</dt>
      <dd><%= @food.calories %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/foods" class="btn btn-primary">
        Back
      </a>
      <a href="/foods/<%= @food.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food/<%= @food.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Food has many cheat_foods -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cheat Foods
      </li>

      <% @food.cheat_foods.each do |cheat_food| %>
        <li class="list-group-item">
          <a href="/cheat_foods/<%= cheat_food.id %>">
            <%= cheat_food.servings %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cheat_foods/<%= cheat_food.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cheat_foods/<%= cheat_food.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cheat_food/<%= cheat_food.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_cheat_food" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for servings -->
      <div class="form-group">
        <label for="servings" class="control-label">
          Servings
        </label>

        <input type="text" id="servings" name="servings" placeholder="Servings" class="form-control" value="">
      </div>

      <!-- Label and input for day_of_cheat -->
      <div class="form-group">
        <label for="day_of_cheat" class="control-label">
          Day of cheat
        </label>

        <input type="text" id="day_of_cheat" name="day_of_cheat" placeholder="Day of cheat" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :foods_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Cheat Food
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Food has many foods_details -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Foods Details
      </li>

      <% @food.foods_details.each do |foods_detail| %>
        <li class="list-group-item">
          <a href="/foods_details/<%= foods_detail.id %>">
            <%= foods_detail.foods_details_quantity %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/foods_details/<%= foods_detail.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/foods_details/<%= foods_detail.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_foods_detail/<%= foods_detail.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_foods_detail" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for foods_details_quantity -->
      <div class="form-group">
        <label for="foods_details_quantity" class="control-label">
          Foods details quantity
        </label>

        <input type="text" id="foods_details_quantity" name="foods_details_quantity" placeholder="Foods details quantity" class="form-control" value="">
      </div>

      <!-- Label and input for foods_id -->
      <div class="form-group">
        <label for="foods_id" class="control-label">
          Foods
        </label>

        <%= select_tag(:foods_id, options_from_collection_for_select(Food.all, :id, :foods_name), :class => "form-control") %>
      </div>

      <!-- Label and input for nutrients_id -->
      <div class="form-group">
        <label for="nutrients_id" class="control-label">
          Nutrients
        </label>

        <%= select_tag(:nutrients_id, options_from_collection_for_select(Nutrient.all, :id, :nutrients_category), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Foods Detail
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Food has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @food.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Food has many nutrients -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Nutrients
      </li>

      <% @food.nutrients.each do |nutrient| %>
        <li class="list-group-item">
          <a href="/nutrients/<%= nutrient.id %>">
            <%= nutrient.nutrients_category %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/nutrients/<%= nutrient.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/nutrients/<%= nutrient.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_nutrient/<%= nutrient.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
